@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Welcome</h1>
    <p>Made by Nt</p>
    <p><a asp-action="Login" asp-controller="Account">Войти как пользователь</a></p>
    <p><a asp-action="LoginStranger" asp-controller="Account">Войти как гость</a></p>
    <p><a asp-action="Register" asp-controller="Account">Зарегистрироваться</a></p>
</div>