@using TinyUrl.DAL.Models
@model IEnumerable<Url>
<h5>Вы вошли как @User.Identity.Name</h5>

<h2>Тут история</h2>
<p><a asp-action="Index" asp-controller="TinyUrl">Вернуться назад</a></p>

@if (@User.Identity.Name == "Anonymous")
{
    <h3> В этой версии функционал не поддерживается </h3>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Полная ссылка</th>
            <th>Короткая ссылка</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var url in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => url.OriginalPath)</td>
                <td><a href=@url.FullTinyPath> @url.FullTinyPath </a></td>
            </tr>
        }
        </tbody>
    </table>
}