<h5>Вы вошли как @User.Identity.Name</h5>

<a asp-action="CreateTinyUrl" asp-controller="TinyUrl">Создать короткую ссылку</a>
 || <a asp-action="History" asp-controller="TinyUrl">Посмотреть историю</a>
 || <a asp-action="GetAllUrls" asp-controller="TinyUrl">Посмотреть все ссылки</a>

<p><b><a asp-action="Logout" asp-controller="Account">Выйти</a></b></p>
